<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
    <div th:fragment="liensCSS">
        <link rel="stylesheet" type="text/css" href="../../css/mainEnthreide.css" th:href="@{css/mainEnthreide.css}"/>
        <link rel="stylesheet" type="text/css" href="../../css/espaceperso.css" th:href="@{css/espaceperso.css}"/>
        <link rel="stylesheet" type="text/css" href="../../css/annonce" th:href="@{css/annonce.css}"/>
    </div>
</head>
<body>
<header th:fragment="menu">
    <nav>
        <ul id="menu_horizontal">
            <li ><a href="/evenements" class="bouton">&Eacutevenements</a></li>
            <li><a href="/annonces" class="bouton">Annonces</a></li>
            <li><form action="/accueil" method="post">
                <div id="recherche">
                    <input type="text" name="recherche" placeholder="Recherche" >
                </div>
                <div id="valider">
                    <input type="submit" class="rechercher" value="">
                </div>
            </form>
            </li>
            <li><a href="/profil"><img src="img/myaccount.png" alt="myaccount" id="buttonAccount" /></a></li>
            <li><a href="#"><img src="img/logoff.png" alt="logoff" id="buttonOff" /></a></li>
        </ul>
    </nav>
    <div id="logo">
        <a href="/accueil"><img src="img/logo.png" alt="logo" class="boutonHome" /></a>
    </div>
</header>
<div th:fragment="annonceDuJour" class="annonce">
    <img src="img/photo.png" alt="photo" class="imgDescription"/>
    <div>
        <h2>Titre Annonce</h2>
        <p>Description de l'annonce</p>
    </div>
    <img src="img/star.png" id="star" alt="star" class="star" onclick=" changeStar()"/>
</div>

<div th:fragment="annoncePetite" >
    <div id="afficheannonce" class="annonce" th:each="annonce:${Annonce}">
    <img src="img/photo.png" alt="photo" class="imgDescription"/>
    <div>
        <a th:href="${'Zoom?id=' +annonce.idAnnonce}"><h2 th:text="${annonce.titreAnnonce}">Titre Annonce</h2></a>
        <p th:text="${annonce.descriptionAnnonce}">Description de l'annonce</p>
    </div>
    <img src="img/star.png" onclick=" changeStar(this)"/>
    </div>
</div>


<div th:fragment="categorie" class="annonce">
    <h1>RECHERCHE PAR CATEGORIE</h1>
    <div style="display: none" id="cat" class="cache" >
        <div th:each="categorie :${Categorie}">
            <a th:href="${'listAnnonceByCategory?id='+categorie.idCategorie}"  th:text="${categorie.nomCategorie}">Une Catégorie</a>
        </div>
    </div>
    <div class="voir"><img src="img/voirPlus.png" id="voir"  width="50px" onclick="afficherCacher();"></div>

</div>

<section th:fragment="annoncePrecise" >

        <section class="secA" th:each="annonce:${Annonce}">
            <section class="detail">
                <div class="pic">
                    <img src="img/livremathprepa.jpg" class="picAnnonce" />
                </div>
                <div class="descriptif" >
                    <div><p th:text="${annonce.titreAnnonce}">Titre</p></div>
                    <div><p th:text="${'Annonce postée par '+annonce.utilisateurAnnonce.getNomUtilisateur() + 'le ' + annonce.dateAnnonce}">Annonce postée par Maxime P le 12/01/2018</p></div>
                    <div><p th:text="${annonce.descriptionAnnonce}">Ce livre de maths pour les classes prépas sera votre meilleur amis pendant vos deux premieres année. n'hésitez plus, et contactez moi pour plus d'info.
                        Je fixe le prix à 15 euros mais vous pouvez toujours tenter de négocier ;)</p></div>
                </div>
            </section>
            <section class="option">
                <div class="opt" id="enregistrer">
                    <a href="#">ENREGISTRER L'ANNONCE</a>
                </div>
                <div class="opt" id="contact">
                    <a href="#">CONTACTER L'ANNONCEUR</a>
                </div>
                <div class="opt" id="signal">
                    <a href="#">SIGNALER L'ANNONCE</a>
                </div>
            </section>
            <hr color="red">
            <section class="comment">
                <h1>LAISSER UN COMMENTAIRE</h1>
                <form id="commenter">
                    <input id="com" type="text" name="commentaire"/>
                    <input id="send" type="submit" name="envoyer" value="ENVOYER">
                </form>
            </section>
        </section>


</section>

<div th:fragment="bienvenue">
    <h1>ENTRHEIDE</h1>
    <p>Bienvuenue sur le site d'entraide entre HEIIENS</p>
</div>

<div th:fragment="espaceAdmin" id="espaceAdmin">
    <h1>Espace Administrateur</h1>
    <hr color="red" width="55%" size="2">
    <h2>Derni&egravere annonce signal&eacutee</h2>
    <div class="annonce">
        <img src="img/photo.png" alt="photo" class="imgDescription"/>
        <div>
            <h2>Titre Annonce</h2>
            <p>Description de l'annonce</p>
        </div>
        <img src="img/delete.png" alt="delete" class="delete"/>
    </div>
    <a href="#">Voir toutes les annonces signal&eacutees</a>
    <hr color="red" width="55%" size="2">
    <h2>Ajouter un &eacutev&egravenement</h2>
    <div id="formulaireEvent">
        <form action="" methode="post" enctype="text/plain">
            <div>
                <label for="nomE">Titre :</label>
                <input type="text" name="nomEvent"  id="nomE"/>
            </div>
            <div>
                <label for="dateE">Date :</label>
                <input type="date" name="dateEvent" id="dateE">
            </div>
            <div>
                <form action="" methode="post" enctype="multipart/form-data">
                    <label for="imgE">Photo :</label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
                    <input type="file" name="imgEvent" id="imgE"/>
                </form>
            </div>
            <div>
                <input type="submit" name="confirmerEvent" value="Valider"/>
            </div>
        </form>
    </div>
    <hr color="red" width="55%" size="2">
    <h2>Supprimer un &eacutev&egravenement</h2>
    <div id="supprimerEvent">
        <form action="" methode="post" enctype="text/plain">
            <div>
                <select name="select-type" id="eventSupprimer">
                    <option>Liste des &eacutev&egravenements</option>
                </select>
            </div>
            <div>
                <input type="submit" name="supprimerEvent" value="Supprimer"/>
            </div>
        </form>
    </div>
</div>

<section th:fragment="monProfil" class="monProfil">
    <div>
        <h1>MON PROFIL</h1>
    </div>
    <hr/>
    <div>
        <p>Nombre d'annnonces publi&eacutees :
            <!--thymeleaf? requete SQL-->
            <br>
            Nombre d'annonces enregistr&eacutees :
            <!--requete SQL qui retourne le resultat-->
            <br>
            Grade : grade
            <!--grade associé au nb d'annonces publiées, a aller cherher dans la bdd-->
        </p>
    </div>
    <hr/>
    <div>
        <div class="link"><a href="/infosperso">MODIFIER MES INFORMATIONS</a></div>
        <div class="link"><a href="/historique">CONSULTER MON HISTORIQUE</a></div>
        <div class="link"><a href="admin.html">ESPACE ADMINISTRATEUR</a></div>
    </div>
</section>

<div th:fragment="event" class="event">
    <img src="img/photo.png" alt="photo" class="imgDescription"/>
    <h2>Titre de l'&Eacutev&egravenement</h2>
    <p>DD/MM/YYYY</p>
</div>

<div id="formulaireConnexion" th:fragment="formConnexion">
    <h1>EntreHeide</h1>
    <h2>Bienvenue sur le site d'entraide r&eacuteserv&eacute aux Heiiens</h2>
    <form action="connexion" method="post">
        <div>
            <input type="text" name="mailConnexion" placeholder="Adresse e-mail"/>
        </div>
        <div>
            <input type="password" name="pswConnexion" placeholder="Mot de Passe">
        </div>
        <div>
            <input type="submit" name="confirmerConnexion" value="Je me connecte" />
        </div>
        <a href="inscription">Je ne suis pas encore inscrit</a>
    </form>
</div>

<div id="formulaireInscription" th:fragment="formInscription">
    <h1>Formulaire d'Inscription :</h1>
    <hr color="red" width="100%" size="2">
    <form action="" methode="post" enctype="text/plain">
        <div>
            <label for="nomU">Nom :</label>
            <input type="text" name="nomUser"  id="nomU"/>
        </div>
        <div>
            <label for="prenomU">Pr&eacutenom :</label>
            <input type="text" name="prenomUser"  id="prenomU"/>
        </div>
        <div>
            <label for="emailU">Adresse e-mail :</label>
            <input type="text" name="emailUser"  id="emailU" placeholder="Adresse Yncrea" />
        </div>
        <div>
            <label for="psw">Mot de Passe :</label>
            <input type="password" name="pswUser"  id="psw"/>
        </div>
        <div>
            <label for="tel">Num&eacutero de t&eacutel&eacutephone</label>
            <input type="text" name="telephoneUser" id="tel"/>
        </div>
        <div>
            <label for="AnneeU">Ann&eacutee :</label>
            <select name="select-type" id="anneeU">
                <option>H1</option>
                <option>H2</option>
                <option>H3</option>
                <option>H4</option>
                <option>H5</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Confirmer l'inscription" id="boutonConfirmer"/>
        </div>
    </form>
</div>

<div id="formulaireAnnonce" th:fragment="formulaireAnnonce">
    <h1>Je souhaite d&eacuteposer une annonce</h1>
    <hr color="red" width="70%" size="2">
    <form action="/deposerannonce" method="post" >
        <div>
            <label for="nomA">Titre de l'annonce :</label>
            <input type="text" name="nomAdd"  id="nomA"/>
        </div>
        <div>
            <label for="descriptionA">Description de l'annonce :</label>
            <textarea name="descriptionAdd"  id="descriptionA"></textarea>
        </div>
        <div>
            <label for="keyA">Mots-clefs :</label>
            <input type="text" name="keyAdd"  id="keyA"/>
        </div>
        <div>
            <label for="categorieA">Cat&eacutegorie :</label>
            <select name="categorieAdd" id="categorieA" >
                <option th:each="categorie :${Categorie}" th:text="${categorie.nomCategorie}">categorie</option>

            </select>
        </div>
        <!--<div>
            <form action="" method="post" enctype="multipart/form-data">
                <label for="imgA">Photo :</label>
                <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/>
                <input type="file" name="imgAdd" id="imgA"/>
            </form>
        </div>!-->
        <div>
            <input type="submit" name="envoyerAdd" value="Envoyer l'annonce"/>
        </div>
    </form>
</div>

<div th:fragment="scriptStar">
    <script type="text/javascript">
        function changeStar(){
            var x = document.getElementById("star");
            var v = x.getAttribute("src");
            if (v=="img/star.png")
            {v="img/starL.png"}
            else
            {v="img/star.png"}
            x.src=v;
        }
    </script>
</div>

<section class="historique" th:fragment="historique">
    <div><h1>MON HISTORIQUE</h1></div>
    <hr/>
    <section class="annoncepubliee">
        <h2>Dernière annonce publiée</h2>
        <div class="annonce" th:each="annonce::${Connexion}">
        <section class="detail">
            <section class="image">
               <a th:href=""><img class="img" src="modify.png"></a>
               <a th:href=""><img class="img" src="delete.png"></a>
            </section>
            <div id="pic">
                <img src="img/livremathprepa.jpg" id="picAnnonce" />
            </div>
            <div class="descriptif" >
                <div><p th:text="${annonce.titreAnnonce}">Titre</p></div>
                <div><p th:text="${'Annonce postée par '+annonce.utilisateurAnnonce.getNomUtilisateur() + 'le ' + annonce.dateAnnonce}">Annonce postée par Maxime P le 12/01/2018</p></div>
                <div><p th:text="${annonce.descriptionAnnonce}">Ce livre de maths pour les classes prépas sera votre meilleur amis pendant vos deux premieres année. n'hésitez plus, et contactez moi pour plus d'info.
                    Je fixe le prix à 15 euros mais vous pouvez toujours tenter de négocier ;)</p></div>
            </div>
        </section>
        </div>
    </section>
    <hr/>
    <section class="annonceEnregistree" >
        <h2>Dernière annonce enregistr&eacutee</h2>
        <section class="detail" th:each="annonce::${Annonce}">
            <section class="image">
                <img id="star" class="img" src="star.png" onclick="changeStar()">
                <a th:href=""><img class="img" src="delete.png"></a>
            </section>
            <div id="picc">
                <img src="livremathprepa.jpg" class="picAnnonce" />
            </div>
            <div class="descriptif" >
                <div><p th:text="${annonce.titreAnnonce}">Titre</p></div>
                <div><p th:text="${'Annonce postée par '+annonce.utilisateurAnnonce.getNomUtilisateur() + 'le ' + annonce.dateAnnonce}">Annonce postée par Maxime P le 12/01/2018</p></div>
                <div><p th:text="${annonce.descriptionAnnonce}">Ce livre de maths pour les classes prépas sera votre meilleur amis pendant vos deux premieres année. n'hésitez plus, et contactez moi pour plus d'info.
                    Je fixe le prix à 15 euros mais vous pouvez toujours tenter de négocier ;)</p></div>
            </div>
        </section>
    </section>
</section>

<section class="infos" th:fragment="infosPerso">
    <div>
        <h1>GESTION DE MON ESPACE PERSONNEL</h1>
    </div>
    <hr/>
    <section class="mdp">
        <h2>Je souhaite changer mon mot de passe</h2>
        <form action="/infosperso"method="post" id="mdp">
            <div><label>Nouveau</label><input type="text" name="Nouveau" required /></div>
            <div><label>Confirmer</label><input type="text" name="Confirmer" required /></div>
            <div><input type="submit" name="envoyer"></div>
        </form>
    </section>
    <hr/>
    <section class="annee">
        <h2>Je souhaite mettre &agrave jour mon ann&eacutee</h2>
        <form action="/infosperso" method="post" id="year">
            <div><select name="newPromo">
                <option>H1</option>
                <option>H2</option>
                <option>H3</option>
                <option>H4</option>
                <option>H5</option>
            </select></div>
            <div><input type="submit" name="envoyerannee"></div>
        </form>
    </section>
    <hr/>
    <section class="num">
        <h2>Je souhaite afficher mon num&eacutero sur mes annonces</h2>
        <form action="/infosperso" method="post">
        <div><input type="text" name="numtel"></div>
        <div><input type="submit" name="envoyernum"></div>
        </form>
    </section>
</section>

<div th:fragment="menu_Vertical" class="menuV">
    <div id ="menu_vertical">
        <div><form action="ListeAnnonceByCategory" method="post" enctype="text/plain">
            <div id="categorie" class="espacediv">
                <label for="select-type">Cat&eacutegories</label>
                <select name="select-type" id="select-type" >
                    <option th:each="categorie :${Categorie}" th:text="${categorie.nomCategorie}">Catégorie</option>

                </select>
            </div>
            <div class="espacediv"><p>Mots Clefs : Mots clefs entr&eacutes</p></div>

            <div id="criteres" class="espacediv">
                <p>Affiner la recherche :</p>
                <p><form action="#" methode="post" enctype="text/plain">
                <input type="checkbox" name="critere1" value="1"> Crit&egravere 1<br>
                <input type="checkbox" name="critere2" value="2"> Crit&egravere 2<br>
                <input type="checkbox" name="critere3" value="3"> Crit&egravere 3<br>
                <input type="checkbox" name="critere4" value="4"> Crit&egravere 4<br>
                <input type="checkbox" name="critere5" value="5"> Crit&egravere 5
            </form>
                </p>
            </div>
            <div id="button" class="espacediv">
                <input href="listAnnonceByCategory" type="button" action="listAnnonceByCategory?id=" value="SOUMETTRE">
            </div>
        </form></div>

        </div>
    </div>
</div>

<div th:fragment="footer"><a href="mentionsLegales.html">Mentions L&eacutegales</a></div>
</body>
</html>